.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #332c93, -10px -10px 30px #332c93;
    width: 100%;
    max-width: 400px;
    z-index: 1;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    color: #0f4c81;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.tabs button.active {
    background: #0f4c81;
    color: #ffffff;
}

.form {
    display: none;
    flex-direction: column;
}

.form.active {
    display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.button {
    margin-top: 10px;
    padding: 12px;
    background:#0f4c81;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 6px 6px 10px rgb(255, 241, 199), -6px -6px 10px, rgb(243, 255, 23);
    transition: 0.3s;
    width: 100%;
}

.button:hover {
    background:#196db5;
}

.alert {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert.error {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
}

.alert.success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 18px;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
}

.changeUser{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0f4c81;
    font-weight: bold;

}

.changeUser a:hover{
    color:#196db5;
    
}